* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme="light"] {
  --background-paginate-number: #1f2f49;
  --background-color: rgba(46, 71, 112, 1);
  --background-div: #d9d9d9;
  --icons-color: #1c1b1f;
  --text-color: #1c1b1f;
}

:root[data-theme="dark"] {
  --background-paginate-number: #ffffff;
  --background-color: rgba(27, 28, 29, 1);
  --background-div: #333235;
  --icons-color: #ffffff;
  --text-color: #d9d9d9;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@mixin centred-content-inside-div() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centredContent {
  margin: 0 auto;
  width: 800px;
}

.function-line-task {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 27px;
  height: 54px;
}

.functions-panel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  background: var(--background-div);
  width: 212px;
  height: 54px;
}

.right-panel {
  @include centred-content-inside-div;
  grid-column: 5;
  svg {
    margin: 0 7px;
  }
}

.left-panel {
  @include centred-content-inside-div;
  grid-column: 1;
  font-size: 20px;
  div,
  select {
    margin: 0 7px;
    background: none;
    border: none;
  }

  select {
    width: 45px;
    cursor: pointer;
    font-size: 20px;
    color: var(--text-color);
  }

  select:active,
  select:focus {
    outline: none;
    background: none;
    border: none;
  }
}

.line {
  display: flex;
  width: 95%;
  height: 1px;
  background-color: var(--icons-color);
  margin: 27px auto;
}

.arrow-centreds {
  @include centred-content-inside-div;
}

.paginate-number {
  width: 147px;
  height: 47px;
  background: var(--background-paginate-number);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  grid-column: 3;
  margin-top: 3.5px;

  @include centred-content-inside-div;
  color: var(--background-div);
  font-weight: 400;
  font-size: 27px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.69);
}

.task {
  display: flex;
  width: 100%;
  height: 55px;
  background: var(--background-div);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 0 20px;
  margin-bottom: 14px;

  svg,
  div {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.right-task-functional {
  margin-left: auto;
  svg {
    margin: 5px 0 0 10px;
  }
}

.task-input {
  background: none;
  border: none;
}

.task-texts {
  margin-left: 14px;
  font-size: 27px;
  font-weight: 400;
}

.setting {
  @include centred-content-inside-div;
  position: absolute;
  left: 90%;
  flex-direction: column;
  margin: auto;
  width: 95px;
  background-color: var(--background-div);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;

  svg {
    margin: 20px 0;
  }

  input {
    // display: none;
    margin-bottom: 10px;
  }
}

.toggle-button {
  -webkit-appearance: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: 0.4s;
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/moon.png")
    no-repeat center #212121;
  background-size: 30px;
  cursor: pointer;
}
.toggle-button:checked {
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/sun.png")
    no-repeat center #ffffff;
  background-size: 30px;
}

.add-task {
  //Возможно стоит вынести их в общие настройки
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  background: var(--background-div);

  //Настройки высоты и положения div блока
  width: 100%;
  height: 72px;
  margin-top: 35px;

  //Настройки для внутренних блоков
  @include centred-content-inside-div;
  flex-direction: row;
  justify-content: center;
  padding: 14px;

  div,
  input {
    margin: 0 7px;
  }

  .add-task-text {
    width: 80px;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
    color: var(--icons-color);
  }

  .add-task-input-wrapper {
    margin: auto 5px;
    display: inline;
    position: relative;

    .add-task-input {
      width: 600px;
      height: 31px;

      border: 0;
      border-bottom: 2px solid #757373;
      background: none;
      padding: 0 3px;
      outline: none;
      box-sizing: border-box;
      font-size: 16px;
      color: var(--text-color);

      &:focus {
        border-color: var(--icons-color);
      }

      &:focus + span {
        display: inline;
        cursor: pointer;
      }
    }

    span {
      height: 100%;
      position: absolute;
      padding: 0 10px;
      right: 0;
      display: none;
      font-size: 25px;
      color: var(--icons-color);
    }
  }
}

.icon {
  cursor: pointer;
  fill: var(--icons-color);
}

.icon:active {
  //Уменьшает картинку
  transform: scale(99%);
}

.icon-drag-and-drop {
  cursor: grab;
}
