$font-stack: Helvetica, sans-serif;

//Передаем два аргумента и используем их в стилях
@mixin theme($color-1, $color-2) {
  background-color: $color-1;
  border: 2px solid $color-2;
  color: $color-2;
}

input {
  //Общий стиль текста для всех инпутов
  font: 100% $font-stack;
}

.light {
  //передано два аргумента
  @include theme(aquamarine, #2c2e2c);
}

.dark {
  //передано два аргумента
  @include theme(#2c2e2c, aquamarine);
}
