$font-stack: Helvetica, sans-serif;

@mixin light-theme {
  background-color: aquamarine;
  border: 2px solid #2c2e2c;
  color: #2c2e2c;
}

@mixin dark-theme {
  background-color: #2c2e2c;
  border: 2px solid aquamarine;
  color: aquamarine;
}

.button {
  @include light-theme;
  font: 100% $font-stack;
}

.dark {
  @include dark-theme;
}
